/*
-----------------------------------------------------
TopPage CSS
FileName:   framework.css
Version:    2005.04/08
Produced by Atsushi Sato NIT
-----------------------------------------------------
*/

.image_size_s {
	width: 15%;
	height: 15%;
}

div#title {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 15px solid;
border-right: seagreen 1px solid;
font-size:10pt;
margin-top: 7px;
background-color: #FAF0E6;
font-style:italic;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
}

div#contents {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 1px solid;
border-right: seagreen 1px solid;
border-bottom: seagreen 1px solid;
line-height:250%;
font-size:10pt;
color:#DA70D6;
margin-bottom: 7px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 7px;
padding-left: 22px;
}

div#contentsimg {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 1px solid;
border-right: seagreen 1px solid;
border-bottom: seagreen 1px solid;
line-height:250%;
font-size:10pt;
color:#DA70D6;
margin-bottom: 7px;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
}

div#contentssmall {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 1px solid;
border-right: seagreen 1px solid;
border-bottom: seagreen 1px solid;
line-height:150%;
font-size:10pt;
color:#DA70D6;
margin-bottom: 7px;
padding-top: 7px;
padding-bottom: 7px;
padding-right: 7px;
padding-left: 22px;
}

strong {
color: red;
font-size:12pt;
}

div#invitation{
line-height:150%;
font-size:18pt;
font-family: arial,sans-serif;
font-style:italic;
border-left: brown 15px solid;
border-bottom: brown 1px solid;
margin-top: 2px;
margin-bottom: 7px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
}

div#intro{
line-height:200%;
font-family: arial,sans-serif;
margin-bottom: 15px;
padding: 18px;
}

div#diaryday{
font-size: x-small;
font-family: arial,sans-serif;
border-left: brown 15px solid;
border-bottom: seagreen 1px solid;
line-height:150%;
margin-bottom: 7px;
background-color: #FFFFFF;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
}

div#diarydaybody{
border-bottom: seagreen 3px dotted;
font-family: arial,sans-serif;
margin-left: 15px;
margin-bottom: 15px;
padding-left: 7px;
padding-top: 5px;
padding-bottom: 10px;
}

div#pareatitle{
width: 120px;
background-color: #FFF8DC;
border-top: seagreen 2px solid;
border-right: seagreen 2px solid;
border-left: seagreen 2px solid;
font-family: arial,sans-serif;
margin-top: 5px;
padding-left: 10px;
padding-top: 2px;
padding-bottom: 2px;
}

div#photocountry {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 1px solid;
border-right: seagreen 1px solid;
border-bottom: seagreen 1px solid;
line-height:250%;
font-size:10pt;
color: 	#999966;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 10px;
padding-left: 7px;
padding-right: 7px;
padding-top: 2px;
padding-bottom: 2px;
}

div#whatsnew {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 1px solid;
border-right: seagreen 1px solid;
border-bottom: seagreen 1px solid;
line-height:120%;
font-size:10pt;
color: 	000066;
margin-bottom: 10px;
padding-left: 10px;
padding-top: 2px;
padding-bottom: 2px;
}

div#tripphoto{
font-family: arial,sans-serif;
margin-bottom: 10px;
padding: 5px;
text-align: center;
}

div#photobutton {
font-family: arial,sans-serif;
font-size:10pt;
color: 	#999966;
margin-left: 15px;
margin-right: 15px;
padding-left: 7px;
padding-right: 7px;
padding-top: 2px;
padding-bottom: 2px;
}

div#photolocation{
width: 120px;
background-color: #FFF8DC;
border-top: seagreen 2px solid;
border-right: seagreen 2px solid;
border-left: seagreen 2px solid;
border-bottom: seagreen 2px solid;
font-family: arial,sans-serif;
margin-left: 15px;
margin-right: 15px;
padding-left: 7px;
padding-right: 7px;
padding-top: 2px;
padding-bottom: 2px;
}

div#whatisnew {
font-family: arial,sans-serif;
border-top: seagreen 1px solid;
border-left: seagreen 1px solid;
border-right: seagreen 1px solid;
border-bottom: seagreen 1px solid;
line-height:250%;
font-size:10pt;
color: 	#999966;
margin-left: 15px;
margin-right: 15px;
padding-left: 7px;
padding-right: 7px;
padding-top: 2px;
padding-bottom: 2px;
}
