/*
-----------------------------------------------------
TopPage CSS
FileName:   layouttwo.css
Version:    2005.04/08
Produced by Atsushi Sato NIT
-----------------------------------------------------
*/


div#toptitle {
font-family: Arial,sans-serif;
border-left: darkseagreen 15px solid;
border-bottom : darkseagreen 2px solid;
color:#FDF5E6;
height:35px;
font-size:24pt;
font-style:italic;
padding-left : 15px;
}

#sto {
color:red
}

#sto2 {
color:#FF9933;
font-weight: bold;
}



div#toppict {
text-align:center;
}

div#leftcolumn {
float: left;
width:150px;
margin-left: 10px;
}

div#maincolumn {
border-left: dashed darkseagreen 2px ;
border-right: dashed darkseagreen 2px ;
float: left;
width:572px;
margin-top: 7px;
margin-right: 0px;
padding-left: 12px;
padding-right: 12px;
}




div#producer {
margin-top: 7px;
font-family: arial,sans-serif;
font-style:italic;
text-align:right;
font-size:8pt;
}

